[DEFAULT]
db_path = askpst.db
vector_db_path = ./email_chroma_db
embedding_model = sentence-transformers/all-MiniLM-L6-v2
llm_model = distilgpt2
batch_size = 100
vector_chunk_size = 300
vector_chunk_overlap = 50
retriever_k = 2
primary_email = mhopkins@vertical-leap.co.uk
primary_name = Matt Hopkins
cache_dir = ./.cache
use_smaller_model = false
model_quantization = 8bit
cache_embeddings = true

